REDIS_HOST=redis
REDIS_PORT=6379

ES_HOST = elasticsearch
ES_PORT = 9200
ES_SCHEMA = http://

API_HOST = backend
API_PORT =8080
API_SCHEMA = http://

BATCH_SIZE=100
BORDER_SLEEP_TIME = 10.0
RUN_ETL_EVERY_SECONDS = 60
