REDIS_HOST=redis_test
REDIS_PORT=6379

API_HOST=auth_backend
API_PORT=8080

POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_HOST=db_auth_test
POSTGRES_PORT=5432
POSTGRES_DB=db_auth
POSTGRES_USER=db_user
POSTGRES_PASSWORD=123qwe